version: "3.7"

services:
    node:
        build:
            dockerfile: Dockerfile
        image: travelapp-backend-img
        container_name: node
        command: npm start
        ports:
            - "8000:8000"
        env_file: .env
        environment:
            - NODE_ENV=production

    # react:
    #     build:
    #         context: ./frontend
    #         dockerfile: Dockerfile
    #     image: travelapp-frontend-img
    #     container_name: travelapp-frontend
    #     command: npm start
    #     env_file: .env
    #     ports:
    #         - "3000:3000"
    #     depends_on:
    #         - node
