body {
    margin: 0;
    /* font-family: "Inter"; */
    background-color: rgb(255, 255, 255);
    background-color: linear-gradient(
        0deg,
        rgba(255, 255, 255, 1) 39%,
        rgba(178, 243, 222, 1) 82%
    );
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
        monospace;
}

.layout {
    max-width: 68.75rem;
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}
